body {
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}
h2 {
    color: darkblue;
}
h3 {
    color: darkblue;
}

p {
    font-size: 18px;
}

.item {
    display: flex;
    justify-content: space-between;
    max-width: 400px; /* adjust width as needed */
    margin: 4px 0;
}

.name {
    font-weight: normal;
}

.price {
    font-weight: bold;
}

.nosifer-regular {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}



header {
    background-color: #333333;
    color: crimson ;
    font-family: "Nosifer", sans-serif;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

main {
    background-color: #222222;
    color: darkred;
    font-family: "Creepster", system-ui;
    font-size: 25px;
    #padding: 10px;
}